# Ignore node modules
node_modules/

# Ignore build artifacts
dist/
build/

# Ignore environment variables
.env

# Ignore log files
*.log

# Ignore OS files
.DS_Store

# Ignore VSCode settings
.vscode/


# Ignore temporary files
proof.gob
data/
src/prover/inputs.json
circuit_js
circuit.r1cs
powersOfTau28_hez_final_22.ptau
circuit.zkey
circuit_final.zkey
verification_key.json
proof.json 
public.json
witness.wtns